

body {
/*   
    display: flex;
    justify-content: center;
    align-items: center; */
    /* min-height: 100vh; */
    /* font-family: 'Poppins', sans-serif; */
    /* background: #000; */
}

.product-container {
    position: relative;
    display: flex;
   
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 900px; */
    /* height: 600px; */
    /* background: #fff; */
    background: #212121;
    margin: 20px;
}

.product-container .product-imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: #212121;
    transition: .product-3s linear;
}

.product-container .product-imgBx:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 24px;
    color: #000;
    opacity: 0.product-2;
    font-size: 8em;
    font-weight: 800;
}

.product-container .product-imgBx img {
    position: relative;
    width: 500px;
    /* transform: rotate(-30deg); */
    left: -50px;
    transition: .product-9s linear;
}

.product-container .product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.product-container .product-details h2{
    margin: 0;
    padding: 0;
    font-size: 2.product-4em;
    line-height: 1em;
    color: #444;
}

.product-container .product-details h2 span {
    font-size: 0.product-4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.product-container .product-details p {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
}

.product-container .product-details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.product-5em;
    color: #a2a2a2;
    float: left;
}
.product-container .product-details button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
}

.product-product-colors span {
    width: 26px;
    height: 26px;
    top: 7px;
    margin-right: 12px;
    left: 10px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.product-black {
    background: #000;
}

.product-red {
    background: #D5212E;
}

.product-orange {
    background: #F18557;
}

.product-product-colors .product-active:after{
    content: "";
    width: 36px;
    height: 36px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -5px;
    top: -5px;
}

/* responsive */
@media (max-width: 1080px) {
    .product-container {
        height: auto;
    }
    .product-container .product-imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .product-container .product-imgBx img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }
    .product-details {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .product-container .product-details p {
        margin-left: 0;
        max-width: 100%;
    }
}

