.product-background{
    width: 100%;
    min-height: 90vh;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.product-flex-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: row;
    gap : 15px;
    color: white;
    
  }
  .product-heading{
    display:flex ;
    justify-content: center;
    color: #FEDD58;
    margin-bottom: 2rem;
  }
  .product-heading-left,h2{
    color: #FEDD58;
  }
  .product-heading:after {
    content: '';
    display: block;
    position: absolute;
    /* left: 0; */
    top: 200px;
    width: 180px;
    height: 4px;
    background: #FEDD58;
  }
  .product-flex{
    flex: 0 1 350px;
    /* width: 50%; */
    height: 75vh;
    /* border: 2px solid red; */
    padding: 40px 20px;
    background-color: #222222;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    border-radius: 15px;
	transition: all ease 0.3s;
}

  .product-button{
  background: #31343C;
  border: 2px solid #31343C;
  border-radius: 50px;
  padding: 6px 25px;
  color:#F9FAFB ;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;

}
  .product-input-control {
    width: 80%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
  }
  /* .product-form-input{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
  } */
  @media screen and (max-width: 900px){
    .product-flex-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap : 15px;
        color: white;
        
      }
      .product-flex{
   
        padding: 40px 20px;
        background-color: #222222;
        box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
        border-radius: 15px;
        transition: all ease 0.3s;
    }
  }