.navbar {
	height: 70px;
	/* width: 100%; */
	background:#121212;
	color: #EEEFF3;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 7rem;
	font-size: 1rem;
  font-weight: 800;
}

.nav-logo {
	text-decoration: none;
	color: #EEEFF3;
  font-weight: 900;
}

.nav-links {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 80px;
	list-style: none;
}

.nav-link {
	text-decoration: none;
color: #EEEFF3;
	transition: 0.3s all;
}

.nav-link:hover {
	color:rgb(181, 130, 228) ;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}
.nav-signIn{
  position: absolute;
  font-size: 0.9rem;
  right : 75px;
  color:rgb(181, 130, 228);
  border: 1px solid rgb(181, 130, 228);
  border-radius: 50px;
  padding: 4px 14px;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media only screen and (max-width: 800px) {
	.navbar {
		position: relative;
    padding: 0 2rem;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
    grid-gap: 5px;
		width: 50%;
		top: 0;
		left: -100%;
		transition: 0.5s all;
	}

	.nav-links.active {
		background: #2B2B2B;
		left: 0;
	}

	.nav-item {
		padding: 30px 0;
		/* border-top: 1px solid red;
		border-bottom: 1px solid red; */
	}

	.nav-icon {
		display: flex;
	}
}